<html>
<head>
</head>
<body>
<h2>Algorithm
    <h2>


        <h3>Parameters</h3>
        Number of stan runs:
        <select>
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        Number of Iterations:
        <input name="iterations" value="2000"/>
        Number of Chains:
        <input name="chains" value="4"/>


        <h3>Advanced Parameters</h3>
        Max Tree Depth:
        <input name="max_treedepth" value="16"/>
        Number of Time Points:
        <input name="num_time_points" value="16384"/>
        <br>

        <input type="submit">


</body>
</html>